{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% image self.banner_image fill-900x400 as img %}
<div class="container-fluid py-5" style="background-image: url('{{img.url}}') ; background-size: cover; color: #fff !important;">
    <h1 class="display-5 fw-bold">{{self.banner_title}}</h1>
    <h5 class="display-10 fw-bold">{{self.banner_subtitle|richtext}}</h5>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    <button class="btn btn-primary btn-lg" type="button">@todo</button>
  </div>


  {% for block in self.content %}
    {% include_block block %}
  {% endfor %}

{% endblock content %}